@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Lena';
  src: url('/fonts/Lena.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #00ADB5;
  --color-secondary: #393E46;
  --color-dark: #222831;
  --color-light: #EEEEEE;
  
  --font-sans: 'Satoshi', sans-serif;
  --font-display: 'Lena', sans-serif;
}

body {
  @apply bg-light text-secondary dark:bg-dark dark:text-light font-sans transition-colors duration-300;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}
