@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak-Variable.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #00ADB5;
  --color-secondary: #393E46;
  --color-dark: #222831;
  --color-light: #EEEEEE;
  
  --font-sans: 'Fira Code', monospace;
  --font-display: 'Zodiak', bold;
}

body {
  @apply bg-light text-secondary dark:bg-dark dark:text-light font-sans transition-colors duration-300;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}
