---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/sections/Navbar';
import Hero from '../components/sections/Hero';
import About from '../components/sections/About';
import Skills from '../components/sections/Skills';
import Experience from '../components/sections/Experience';
import Education from '../components/sections/Education';
import Projects from '../components/sections/Projects';
import Contact from '../components/sections/Contact';
import Footer from '../components/sections/Footer';
---

<Layout title="Alberto Fernández | Portfolio">
	<Navbar client:load lang="es" />
	<main>
		<Hero client:load lang="es" />
		<About client:visible lang="es" />
		<Skills client:visible lang="es" />
		<Experience client:visible lang="es" />
		<Education client:visible lang="es" />
		<Projects client:visible lang="es" />
		<Contact client:visible lang="es" />
	</main>
	<Footer lang="es" />
</Layout>

