<div class="fixed inset-0 -z-10 h-full w-full bg-gradient-to-b from-light to-white dark:from-dark dark:to-[#1a1d24] transition-colors duration-300">
    <div class="absolute bottom-0 left-0 right-0 top-0 overflow-hidden flex flex-col justify-end">
        <!-- Waves Container -->
        <svg class="waves w-full h-[15vh] min-h-[100px] max-h-[150px]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" class="fill-primary/30 dark:fill-primary/10" />
                <use xlink:href="#gentle-wave" x="48" y="3" class="fill-primary/50 dark:fill-primary/20" />
                <use xlink:href="#gentle-wave" x="48" y="5" class="fill-primary/70 dark:fill-primary/30" />
                <use xlink:href="#gentle-wave" x="48" y="7" class="fill-primary dark:fill-secondary" />
            </g>
        </svg>
    </div>
</div>

<style>
    /* Animation */
    .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
    }
    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }
    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }
    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }
    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

    @keyframes move-forever {
        0% {
        transform: translate3d(-90px,0,0);
        }
        100% { 
        transform: translate3d(85px,0,0);
        }
    }
</style>